---
layout: base-layout.njk
---
<div class="wrapper header">
    <div class="container">
        <div class="row header--spacing">
            <div class="col-4">
                <img src="./img/brand.svg" alt="Agustina Feijóo">
            </div>
            <div class="col-8 right"> 
                <a href="/" <img src="./img/billboard__button--arrow.svg" alt=" " class="about__arrow--spacing"> </a>
            </div>
        </div>
    </div>
</div> 